@use '../abstracts/variables' as *;

body {
  font-family:
    Inter,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  color: $color-primary;
  background-color: $color-background;
  line-height: 1.5;
}
